.trending {
    padding-top: 40px;
    border-top: 0.5px solid rgba(204, 195, 195, 0.507);
    border-bottom: 0.5px solid rgba(204, 195, 195, 0.507);
}

.trending__flex {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.trending__flex__bottom, .trending__flex__top {
    display: flex;
    padding-bottom: 20px;
}