.suggested {
    display: flex;
    justify-content: space-evenly;
    /* height: 100%; */
}

/* .suggested__main__trending {
    flex: 0.3;
}

.suggested__group__trending {
    flex: 0.3;
}

.suggested__follow {
    flex: 0.3;
} */